body{
	background-image: url(http://img04.deviantart.net/3478/i/2012/213/5/7/samuel_l__jackson_by_lightning_stroke-d59fcqn.jpg);
	background-size: 100% 100%;
	font-family: Verdana, Georgia,sans serif;
	font-size: 14px;
	height: 1000px;
}

header {
	position: fixed;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 100%;
    background-color: black;
   
    z-index: 9999;
    padding: 5px 10px 10px;
}

header nav{
	width: 100%;
}

header nav ul{
	z-index: 9999;
	text-align: center;
	/*margin-left: auto;
	margin-right: auto;
	width: 30%;*/
	display: fixed;
	color: white;
}

header nav ul li {
	z-index: 9999;
	display: inline;
	font-weight: bold;
	font-size: 130%;
	color: white;
	padding: .02em 1em;
}

header nav ul li a {
	color: white;
	text-decoration: none;
}

header nav ul li a:hover{
	color: black;
	background-color:white;
	background-size: 100% 100%;
}

section {
	background-color: black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 10px;
	width: 50%;
	color: white;
	border-radius: 5px;

}

footer {
	position:relative;
   text-align: center;
   bottom:0px;
   height:40px;
   width:100%;
	color: white;
	background-color: black;
	clear: left;
	margin-top: 15px;

}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
	background-color: white;
	border-radius: 5px;
	color: black;

}
 img{
        height: auto;
        width:100%;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom:-10px;
    }

    h1 {
    	font-size: 300%;
    	font-weight: bolder;
    	color: black;
    	margin-top: 90px;
    	margin-bottom: 20px;
    	text-align: center;
    	position: static;
    }


	

